node_modules
dist
out
.DS_Store
*.log*
__pycache__ 
.env.local
build
cache
!/build
.env
.ScriptBuild
resources/docs/scriptApi
resources/lib/kerneldlls/devices_property/*.xml
ecb_cli.exe
resources/examples/**/tsconfig.json
resources/examples/**/*.code-workspace
resources/examples/**/*.html
resources/examples/**/**/*.html
resources/examples/**/**/*.csv
resources/examples/**/**/*.txt
resources/examples/**/**/*.bin
*.bak
log.txt
tools/a.bin
tools/a.txt